<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oscilloscope"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_graph"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="com.jangonera.oscilloscope.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jangonera.oscilloscope.SetupFragment"
            android:label="@string/title_activity_setup_fragment" >
        </activity>
        
        <service android:name="com.jangonera.oscilloscope.ExternalDataService" />
        <receiver android:name="com.jangonera.oscilloscope.ExternalServiceDataReceiver">
            <intent-filter >
                <action android:name="com.jangonera.oscilloscope.ExternalServiceDataReceiver.SERVICE_DATA_UPDATE"/>
                <action android:name="com.jangonera.oscilloscope.ExternalServiceDataReceiver.SERVICE_REMOVE_PROBE"/>
                <action android:name="com.jangonera.oscilloscope.ExternalServiceDataReceiver.SERVICE_READY"/>
                
            </intent-filter>
        </receiver>
    </application>

</manifest>